---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?APPID=30ae933e41ab83436cadb4f392b2c8d7&q=Lisbon&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-9.13,"lat":38.72},"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"base":"stations","main":{"temp":25.25,"pressure":1024,"humidity":39,"temp_min":21,"temp_max":28},"visibility":10000,"wind":{"speed":2.1,"deg":340},"clouds":{"all":20},"dt":1494860400,"sys":{"type":1,"id":5961,"message":0.0068,"country":"PT","sunrise":1494825830,"sunset":1494877348},"id":2267057,"name":"Lisbon","cod":200}'
  recorded_at: Mon, 15 May 2017 15:28:21 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?APPID=30ae933e41ab83436cadb4f392b2c8d7&q=Los%20Angeles&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-118.24,"lat":34.05},"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"base":"stations","main":{"temp":14,"pressure":1013,"humidity":67,"temp_min":12,"temp_max":16},"visibility":16093,"wind":{"speed":2.6,"deg":270},"clouds":{"all":90},"dt":1494860400,"sys":{"type":1,"id":396,"message":0.0159,"country":"US","sunrise":1494852642,"sunset":1494902903},"id":5368361,"name":"Los
        Angeles","cod":200}'
  recorded_at: Mon, 15 May 2017 15:28:21 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?APPID=30ae933e41ab83436cadb4f392b2c8d7&q=Paris&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":2.35,"lat":48.85},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"base":"stations","main":{"temp":24,"pressure":1028,"humidity":36,"temp_min":23,"temp_max":25},"visibility":10000,"wind":{"speed":2.6,"deg":230},"clouds":{"all":0},"dt":1494860400,"sys":{"type":1,"id":5615,"message":0.0125,"country":"FR","sunrise":1494821280,"sunset":1494876406},"id":2988507,"name":"Paris","cod":200}'
  recorded_at: Mon, 15 May 2017 15:28:21 GMT
recorded_with: VCR 3.0.3
