.section {
  height: 100vh;
  padding: 70px 179px;
  background-color: $container-color;
}

@media #{map-get($breakpoints, 'mobile')} {
  .section {
    padding: 20px;
  }
}

@media #{map-get($breakpoints, 'tablet')} {
  .section {
    padding: 40px;
  }
}
