.section {
  height: 100vh;
  padding: 70px 189px;
  background-color: $container-color;
}

@media (max-width: 480px) {
  .section {
    padding: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .section {
    padding: 70px 100px;
  }
}
