@font-face {
  font-family: "RobotoRegular";
  src: font-url("Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RobotoMedium";
  src: font-url("Roboto-Medium.ttf");
}

@font-face {
  font-family: "RobotoBold";
  src: font-url("Roboto-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
