@mixin font-type-normal {
  font-weight: 400;
  font-family: "RobotoRegular";
}

@mixin font-type-medium {
  font-weight: 400;
  font-family: "RobotoMedium";
}

@mixin font-type-bold {
  font-weight: 400;
  font-family: "RobotoBold";
}
