$font-regular: "RobotoRegular";
$font-medium: "RobotoMedium";
$font-bold: "RobotoBold";

$body-font-size: 12px;

$navbar-color: #646E7B;
$container-color: #ECEFF1;
$primary-color: #3B4A51;

$white: #FFFFFF;
$dark-gray: #4C5766;
$gray: #A1A8AF;
$light-gray: #ECECEC;

$breakpoints: (
  "mobile": "only screen and (max-width: 639px)",
  "tablet": "only screen and (min-width: 640px) and (max-width: 1023px)",
  "desktop": "only screen and (min-width: 1024px)"
);
